<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
    
    <title>MercadoBEta</title>
</head>
<body>
    <header class="header">
        <nav class="claseNav"></nav>
            <div class="imagenes"><img src="images/logo-mercado-liebre.svg"></div>
            <input type="text" placeholder="busca productos, marcas">
            <button><i id="itemsearch" class="fas fa-search"></i> </button>
            <p class= titular><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>

            <div class="lista">
                <ul type="none">
                    <li><a href="ofertas">ofertas</a></li>
                    <li><a href="tiendaOficial">tienda Oficiales</a></li>
                    <li><a href="vender">Vender</a> </li>
                    <li><a href="ayuda">ayuda</a> </li>
                </ul>
            </div>
            <div class="lista">
                <ul type="none">
                    <li><a href="crearcuenta"> tu Cuenta </a><i class="far fa-address-card iconNav"></i></il>
                    <li><a href="ingresa">Ingresa  </a><i class="fa-solid fa-right-to-bracket iconNav"></i></il>
                    <li><a href="misCompras">Mis compras </a><i class="fas fa-shopping-basket iconNav"></i></il>
                </ul>
            </div>
            <div class="burger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
            <div class="imagenes"><img src="images/img-home-banner.jpg"></div>

            
        </nav>
    </header>
    <main class="producto-wrapper">
        <section class="secciones-producto">
            <h1 class= titular> Basado en tu última visita </h1> 
            <article class="producto">
                <img src="images/img-cafetera-moulinex.jpg">
                <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$6.770</p>
                        <p class=descuento>40% OFF</p>
                    </div>
                    <b class="descripcion">Cafetera Moulinex</b>
                </div>
            </article>
             <article class ="producto"> 
                 <img src="images/img-macbook-pro-2019.jpg">
                <div class="cajaArticle">
                     <div class="camion"><i class="fa-solid fa-truck"></i></div>
                     <div class="precioArti">
                         <p class=precio>$230.000</p>
                         <p class=descuento>20% OFF</p>
                     </div>
                     <b class="descripcion">MacBook Pro 2019</b>
                </div>
            </article>
            <article class ="producto"> 
                <img src="images/img-samsung-galaxy-s10.jpg">
                 <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$70.500</p>
                         <p class=descuento> 10% OFF</p>
                     </div>
                     <b class="descripcion">Samsung Galaxy S10</b>
                </div>
            </article>
            <article class ="producto"> 
                <img src="images/img-tv-samsung-smart.jpg">
                <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$23.200</p>
                        <p class=descuento>5% OFF</p>
                    </div>
                    <b class="descripcion">SmarTv Samsung 43"</b>
                </div>
            </article>
        </section>
       
        <section class="secciones-producto">
            <h1 class= titular>Sección de Ofertas</h1>
            <article class ="producto"> 
                <img src="images/img-cafetera-moulinex.jpg">
                <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$6.770</p>
                        <p class=descuento>40% OFF</p>
                    </div>
                    <b class="descripcion">Cafetera Moulinex</b>
                </div>
            </article>
            <article class ="producto"> 
                <img src="images/img-macbook-pro-2019.jpg">
                <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$230.000</p>
                        <p class=descuento>20% OFF</p>
                    </div>
                     <b class="descripcion">MacBook Pro 2019</b>
                 </div>
            </article>
            <article class ="producto"> 
                <img src="images/img-samsung-galaxy-s10.jpg">
                 <div class="cajaArticle">
                     <div class="camion"><i class="fa-solid fa-truck"></i></div>
                     <div class="precioArti">
                         <p class=precio>$70.500</p>
                         <p class=descuento> 10% OFF</p>
                     </div>
                     <b class="descripcion">Samsung Galaxy S10</b>
                 </div>
            </article>
            <article class ="producto"> 
                <img src="images/img-tv-samsung-smart.jpg">
                <div class="cajaArticle">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="precioArti">
                        <p class=precio>$23.200</p>
                        <p class=descuento>5% OFF</p>
                    </div>
                    <b class="descripcion">SmarTv Samsung 43"</b>
                </div>
            </article>          
        </section>
    </main> 
    <footer>
        <nav class="footerNav">
            <section class="secciones">
                <div class="pagosEnvios"> 
                    <button ><i class="fas fa-credit-card"></i></button><br>
                    <B class = cuerpo>pagá con tarjeta o en efectivo</b>
                    <p class = cuerpo>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en</p>
                    <p class = cuerpo>puntos de pago. ¡Y siempre es seguro! </p>              
                </div>
                <div class="seguridad">
                    <button><i class="fas fa-user-shield"></i></button><br>
                    <b class= cuerpo>Seguridad, de principio a fin</b>
                    <p class = cuerpo>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,</p>
                    <p class = cuerpo>porque estás siempre protegid@</p>
                </div>
                <div class="marcaRegistrada">
                    <p class = cuerpo></p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </section>
        </nav>
    </footer> 
</body>
</html>